/* CSS for Blog Page */
body {
    background: linear-gradient(120deg, white, rgb(199, 166, 124), white);
    background: linear-gradient(60deg, white, rgb(202, 167, 173), white);
}

.header {
    font-size: 45pt;
    /* color: ivory; */
    /* margin: 20px;
    font-family: “Kaushan Script”, sans-serif; */
    width: 100%;
    height: #e36686;
    color: black;
    text-align: center;
    font-family: "Kaushan Script", sans-seriff;
    margin: 10px;
    padding-top: 20px;
    /* justify-content: center;
    align-items: center; */
}

#create {
    background: rgb(112, 60, 60);
    border: rgb(112, 60, 60);
    margin: 20px;
}
/* for initial posts */
#photo {
    padding-left: 10px;
    padding-right: 10px;
}

#body {
    font-size: 12px;
}

#like {
    background: tan;
    border: tan;
}

#dislike {
    background: tan;
    border: tan;
}

#delete {
    background: rgb(71, 27, 27);
    border: rgb(71, 27, 27);
}


/* for all posts created by user */
#card1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#photo1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#body1 {
    font-size: 12px;
}

#like1 {
    background: tan;
    border: tan;
    margin: 5px;
}

#dislike1 {
    background: tan;
    border: tan;
    margin: 5px;
}

#delete1 {
    background: rgb(71, 27, 27);
    border: rgb(71, 27, 27);
    margin: 5px;
}



