body {
    /* margin: 0;
    padding: 0; */
    /* font-family: montserrat; */
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    /* height: 100vh;
    overflow: hidden;  */
}

/* @media screen and (max-width: 1200px) {
    .container {
        width: 35%;
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 100%
    }
} */

/* .container {
    display: flex;
    flex-direction: row;
    column-count: 3;
}

.container .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    /* flex: 1; */
    /* flex-wrap: wrap-reverse; */
    /* margin: 20px;
    float: none;
    width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: 100%; We may or may not need this. */
/* } */


 

.container .card {
    padding: 10px;
    margin: 20px;
}

.header {
    /* font-size: 45pt; */
    /* color: ivory; */
    /* margin: 20px;
    font-family: “Kaushan Script”, sans-serif; */
    width: 100%;
    height: #e36686;
    color: black;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
}
